{{ partial "head.html" . }}
<body>
  <div class="flex-container">
    {{ partial "sidebar.html" . }}

    <main class="container content">
      <article class="post">
        <div class="container-pad">
          <h1>{{ .Title }}</h1>

          {{ if eq .Type "post" }}
            <div class="meta">
              {{ .Date.Format "Mon, Jan 2, 2006" }} •
              {{ .ReadingTime }} min read
            </div>
          {{ end }}

          {{ .Content }}
        </div>
      </article>

      {{ partial "footer.html" . }}
    </main>
  </div>
</body>
</html>
