@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-slate-900;
    @apply text-gray-300;
    @apply font-sans;
    @apply max-h-screen;
    @apply overflow-y-scroll;

    color-scheme: dark;

    background: radial-gradient(
      farthest-corner at 0 20vh,
      #252d3d 0%,
      #0f172a 50%,
      #0f172a 100%
    );
    background-attachment: fixed;
  }

  body {
    @apply w-full;
    @apply leading-6;
  }

  main > *:first-child {
    @apply mt-0;
  }

  main > *:last-child {
    @apply mb-0;
  }

  * {
    @apply box-border;
  }

  h1 {
    @apply text-4xl;
    @apply my-8;
    @apply leading-[3.35rem];
  }

  h2 {
    @apply text-3xl;
    @apply my-4;
  }

  h3 {
    @apply text-2xl;
    @apply my-4;
  }

  h4 {
    @apply text-xl;
    @apply my-4;
  }

  h5 {
    @apply text-lg;
    @apply my-4;
  }

  h6 {
    @apply text-base;
    @apply my-4;
  }

  p {
    @apply my-4;
    @apply text-lg;
  }

  a {
    @apply text-blue-300;
    @apply hover:text-blue-500;
    @apply focus:text-blue-500;
    @apply break-words;
  }

  pre {
    @apply rounded-2xl;
  }

  code {
    @apply p-1;
    @apply text-sm;
    @apply rounded-md;
    @apply bg-gray-950;
  }

  pre code {
    @apply font-mono;
    @apply flex;
    @apply flex-col;
    @apply p-2;
  }
}

.line {
  @apply text-xs;
  @apply leading-5;
  @apply min-h-5;
}
