@import "tailwindcss";

@layer base {
  html {
    @apply max-h-screen scroll-pt-6 overflow-y-scroll scroll-smooth bg-slate-900 font-sans text-gray-300;

    color-scheme: dark;

    background: radial-gradient(
      farthest-corner at 0 20vh,
      #252d3d 0%,
      #0f172a 50%,
      #0f172a 100%
    );
    background-attachment: fixed;
  }

  body {
    @apply w-full leading-6;
  }

  main {
    animation: slideUp 0.6s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  }

  main > *:first-child {
    @apply mt-0;
  }

  main > *:last-child {
    @apply mb-0;
  }

  main ul {
    @apply ml-4 list-disc text-gray-400;
  }

  main li {
    @apply my-1;
  }

  main img {
    @apply rounded-2xl border-2 border-slate-900 bg-clip-padding;
  }

  main figure img {
    @apply cursor-zoom-in;
  }

  table {
    @apply mx-auto w-full bg-gray-900;
  }

  th,
  td {
    @apply border-2 border-gray-600 px-3 py-1;
  }

  * {
    @apply box-border;
  }

  h1 {
    @apply text-4xl leading-[3.35rem];
  }

  h2 {
    @apply my-6 text-3xl;
  }

  h3 {
    @apply my-4 text-2xl;
  }

  h4 {
    @apply my-4 text-xl;
  }

  h5 {
    @apply my-4 text-lg;
  }

  h6 {
    @apply my-4 text-base;
  }

  p {
    @apply my-4 text-lg;
  }

  a {
    @apply break-words text-blue-300 hover:text-blue-500 focus:text-blue-500;
  }

  pre {
    @apply rounded-2xl;
  }

  code {
    @apply rounded-md bg-gray-950 p-1 text-sm;
  }

  pre code {
    @apply flex flex-col px-4 py-3 font-mono;
  }

  figcaption {
    @apply my-1.5 ml-1.5 text-gray-400 italic;
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(1.5rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes rightNudgeIn {
    0% {
      transform: translateX(0.15rem);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes rightNudgeOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0.15rem);
    }
  }

  @view-transition {
    navigation: auto;
  }

  ::view-transition-group(root) {
    animation-duration: 0.25s;
  }

  .svg-right-nudge svg.arrow {
    animation: rightNudgeIn 0.25s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
    animation-direction: alternate;
  }

  .svg-right-nudge:hover svg.arrow,
  .svg-right-nudge:focus svg.arrow {
    animation: rightNudgeOut 0.25s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
    animation-direction: alternate;
  }

  .zoomed {
    @apply fixed top-0 left-0 z-10 box-border flex h-full max-h-full w-full max-w-full cursor-zoom-out flex-col items-center justify-center bg-black/90 p-24;
  }

  .zoomed img {
    @apply max-h-4/5 max-w-fit cursor-zoom-out rounded-none border-0;
  }

  .zoomed figcaption {
    @apply cursor-text;
  }

  /* Custom rulsets for Astro-generated classes */

  .astro-code {
    @apply relative bg-gray-950;
  }

  .astro-code button {
    @apply absolute top-3 right-3 size-6 bg-cover bg-no-repeat contain-content;
  }

  .astro-code .line {
    @apply min-h-5 leading-5;
  }
}
