---
import PostList from "../../components/post-list.astro";
import BaseLayout from "../../layouts/base-layout.astro";
import { getPosts } from "../../lib/posts";
import { getTagName, getUniqueTags } from "../../lib/tags";

export async function getStaticPaths() {
  const posts = Object.values(await getPosts());

  return [...(await getUniqueTags())].map((tag) => {
    return {
      params: { tag },
      props: {
        frontmatter: { title: getTagName(tag), description: "" },
        posts: posts.filter((post) => post.data.tags.includes(tag)),
      },
    };
  });
}

const { posts, frontmatter } = Astro.props;
---

<BaseLayout {...Astro.props}>
  <h1>{frontmatter.title}</h1>

  <PostList posts={posts} />
</BaseLayout>
