---
import BaseLayout from "../layouts/base-layout.astro";

const title = "Posts";
const posts: Post[] = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);
---

<BaseLayout title={title}>
  <h1>{title}</h1>

  {
    posts
      .sort(
        (a, b) =>
          new Date(b.frontmatter.pubDate).getTime() -
          new Date(a.frontmatter.pubDate).getTime(),
      )
      .map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
  }
</BaseLayout>
