<style>
  body {
    margin: 0;
  }

  a {
    color: #588CCE;
    outline: none;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:focus {
    color: #184988;
  }

  h1, h2, h3, h4 {
    color: #3E3E3E;
  }

  .social-icons svg {
    width: 30px;
    height: 30px;
    margin-right: 4px;
  }

  .social-icons a svg {
    fill: #4A4A4A;
  }

  .social-icons a:focus svg {
    fill: #486B92
  }

  footer {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    background: #525252;
  }

  footer span {
    line-height: 40px;
    vertical-align: middle;
  }

  code {
    background: #F3F3F3;
    padding: 3px;
    border-radius: 3px;
  }

  .highlight code {
    background: inherit;
  }

  .footer-text {
    font-size: 14px;
    padding: 0 25px 0 25px;
  }

  .sidebar a {
    color: #4A4A4A;
  }

  .sidebar a:focus {
    color: #486B92;
  }

  .flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .sidebar {
    min-width: 300px;
    padding-left: 25px;
    background: #EFEFEF;
    font-family: 'Lato';
  }

  .sidebar-content {
    position: fixed;
    max-width: 300px;
    top: 0;
    bottom: 0;
  }

  /* Evil CSS hack for accessibility. Querying starting from sidebar prevents
     the sidebar anchor color from overwriting the brand color, while still
     keeping the focus colors. */
  .sidebar .brand {
    color: #4A4A4A;
    text-decoration: none;
  }

  .brand {
    text-decoration: none;
  }

  .social-icons {
    margin-bottom: 15px;
  }

  .sidebar-link {
    text-decoration: none;
    color: #184988;
  }

  .sidebar-link {
    display: block;
    margin: 0 15px 15px 0;
  }

  .sidebar-link-lg {
    font-size: 20px;
  }

  .recent-posts {
    margin-top: 50px;
    color: #4A4A4A;
  }

  .recent-posts a {
    color: #184988;
    text-decoration: none;
  }

  .recent-posts a:hover {
    text-decoration: underline;
  }

  .copyright {
    margin-top: 35px;
    color: #4A4A4A;
  }

  .content {
    position: relative;
    width: 100%;
    min-width: 0;
    font-size: 16px;
    font-family: 'sans-serif';
  }

  .content hr {
    width: 80%;
  }

  .content article {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .content article p {
    line-height: 24px;
  }

  .content h1, .content h2, .content h3, .content h4 {
    font-family: 'Fjalla One';
  }

  .content h1 {
    text-align: center;
    font-size: 48px;
  }

  .content h2 {
    font-size: 38px;
  }

  .content h3 {
    font-size: 32px;
  }

  .content h4 {
    font-size: 24px;
  }

  .content figure {
    margin: 15px 0 15px 0;
  }

  .content figure img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .not-found h1, .not-found h2, .not-found h3, .not-found h4 {
    color: #2c3e50
  }

  .highlight {
    overflow: auto;
    padding: 1em;
    font-size: 16px;
    border-radius: 5px;
  }

  .highlight pre {
    margin: 0;
  }

  .not-found h1, .not-found h2, .not-found h3, .not-found h4 {
    text-align: center;
  }

  .meta {
    color: #72767D;
  }

  .summary {
    margin: 15px 0 15px 0;
  }

  .archive {
    display: flex;
    flex-wrap: wrap;
  }

  .archive a {
    text-decoration: none;
  }

  .archive a:hover {
    text-decoration: underline;
  }

  .date-group {
    min-width: 50%;
  }

  .mobile {
    display: none;
  }

  .link-header a {
    color: #3E3E3E;
  }

  @media only screen and (max-width: 800px) {
    footer {
      display: block;
    }

    .flex-container {
      flex-wrap: wrap;
      flex-direction: column;
    }

    .sidebar {
      display: block;
      width: 100vw;
      min-width: auto;
      flex-grow: 0;
      flex-shrink: 1;
      padding-left: 0;
    }

    .sidebar-content {
      position: static;
      max-width: none;
      top: auto;
      bottom: auto;
    }

    .sidebar-header {
      padding: 7px 15px 7px 15px;
      text-align: center;
    }

    .sidebar-header h1 {
      display: inline;
      margin: 0;
      width: auto;
      font-size: 28px;
    }

    .social-icons {
      margin: 0;
      text-align: center;
    }

    .social-icons img {
      width: 28px;
      height: auto;
    }

    .sidebar-links {
      padding: 7px 0 7px 0;
      text-align: center;
    }

    .sidebar-link {
      display: inline;
      margin: 0 7px 0 7px;
      line-height: 26px;
    }

    .content {
      padding-bottom: 40px;
      flex-grow: 1;
      flex-shrink: 0;
    }

    .content hr {
      width: 90%;
    }

    .content article {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 25px;
    }

    .content figure img {
      width: 100%;
    }

    .archive {
      display: block;
    }

    .date-group {
      width: auto;
    }

    .mobile {
      display: inline;
    }

    .desktop {
      display: none;
    }
  }
</style>
