<!-- Critical CSS using evil inline styles. -->
<style>
  /* Webfont: LatoLatin-Semibold */
  @font-face {
    font-family: 'LatoLatinSemibold';
    src: url('/fonts/LatoLatin-Semibold.eot'); /* IE9 Compat Modes */
    src: url('/fonts/LatoLatin-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/LatoLatin-Semibold.woff2') format('woff2'), /* Modern Browsers */
         url('/fonts/LatoLatin-Semibold.woff') format('woff'), /* Modern Browsers */
         url('/fonts/LatoLatin-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }

  /* Webfont: LatoLatin-Regular */
  @font-face {
    font-family: 'LatoLatinRegular';
    src: url('/fonts/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/LatoLatin-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('/fonts/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/LatoLatin-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }

  /* Webfont: FjallaOne-Regular */
  @font-face {
    font-family: 'FjallaOneRegular';
    src: url('/fonts/fjallaone-regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/fjallaone-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/fjallaone-regular.woff2') format('woff2'), /* Modern Browsers */
         url('/fonts/fjallaone-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/fjallaone-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }

  /* Webfont: WorkSans-Regular */
  @font-face {
    font-family: 'WorkSansRegular';
    src: url('/fonts/WorkSans-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('/fonts/WorkSans-Regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/WorkSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }

  body {
    margin: 0;
  }

  a {
    color: #2A77DA;
    outline: none;
    text-decoration: none;
  }

  a:focus {
    color: #FDAB27;
  }

  footer {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    background: #525252;
  }

  footer span {
    line-height: 40px;
    vertical-align: middle;
  }

  code {
    background: #E6E6E6;
    padding: 3px;
    border-radius: 3px;
  }

  .footer-text {
    font-size: 14px;
    padding: 0 25px 0 25px;
  }

  .sidebar a {
    color: #C6DFFF;
    text-decoration: none;
  }

  .sidebar a:focus {
    color: #FDAB27;
  }

  .flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .sidebar {
    min-width: 300px;
    padding-left: 25px;
    background: {{ .Site.Params.primaryColor }};
    font-family: 'LatoLatinSemibold';
  }

  .sidebar-content {
    position: fixed;
    max-width: 300px;
    top: 0;
    bottom: 0;
  }

  /* Evil CSS hack for accessibility. Querying starting from sidebar prevents
     the sidebar anchor color from overwriting the brand color, while still
     keeping the focus colors. */
  .sidebar .brand {
    color: white;
  }

  .brand {
    text-decoration: none;
  }

  .brand h1 {
    width: 100%;
    margin: 25px 0 15px 0;
  }

  .social-icons {
    margin-bottom: 15px;
  }

  .social-icons img {
    width: 26px;
    height: auto;
    margin-right: 15px;
  }

  .sidebar-link {
    text-decoration: none;
    color: white;
  }

  .sidebar-link {
    display: block;
    margin: 0 15px 15px 0;
  }

  .sidebar-link-lg {
    font-size: 20px;
  }

  .recent-posts {
    margin-top: 50px;
    color: white;
  }

  .recent-posts a {
    color: #C6DFFF;
    text-decoration: none;
  }

  .recent-posts a:hover {
    text-decoration: underline;
  }

  .copyright {
    margin-top: 35px;
    color: white;
  }

  .content {
    position: relative;
    width: 100%;
    font-family: 'WorkSansRegular';
    background: #F9F9F9;
  }

  .content hr {
    width: 80%;
  }

  .content article {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .content article p {
    font-size: 20px;
    line-height: 30px;
  }

  .content h1, .content h2, .content h3, .content h4 {
    font-family: 'FjallaOneRegular';
  }

  .content h1 {
    text-align: center;
    font-size: 48px;
  }

  .content h2 {
    font-size: 38px;
  }

  .content h3 {
    font-size: 32px;
  }

  .content h4 {
    font-size: 24px;
  }

  .content figure {
    margin: 15px 0 15px 0;
  }

  .content figure img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .highlight {
    overflow: auto;
    padding: 1em;
    font-size: 16px;
    border-radius: 5px;
  }

  .highlight pre {
    margin: 0;
  }

  .not-found h1, .not-found h2, .not-found h3, .not-found h4 {
    text-align: center;
  }

  .link-header a {
    color: #2c3e50;
    text-decoration: none;
  }

  .link-header a:focus {
    color: #577DA2;
  }

  .post h1, .post h2, .post h3, .post h4 {
    color: #2c3e50;
  }

  .meta {
    color: #72767D;
  }

  .summary {
    margin: 15px 0 15px 0;
    font-size: 20px;
    line-height: 30px;
  }

  .archive {
    display: flex;
    flex-wrap: wrap;
  }

  .archive a {
    text-decoration: none;
  }

  .archive a :hover {
    text-decoration: underline;
  }

  .date-group {
    min-width: 50%;
  }

  .mobile {
    display: none;
  }

  @media only screen and (max-width: 750px) {
    footer {
      display: block;
    }

    .flex-container {
      flex-wrap: wrap;
      flex-direction: column;
    }

    .sidebar {
      display: block;
      width: 100vw;
      min-width: auto;
      flex-grow: 0;
      flex-shrink: 1;
      padding-left: 0;
      background: {{ .Site.Params.primaryColor }};
    }

    .sidebar-content {
      position: static;
      max-width: none;
      top: auto;
      bottom: auto;
    }

    .sidebar-header {
      padding: 7px 15px 7px 15px;
      text-align: center;
    }

    .brand h1 {
      display: inline;
      margin: 0;
      width: auto;
      font-size: 28px;
    }

    .social-icons {
      margin: 0;
      text-align: center;
    }

    .social-icons img {
      width: 28px;
      height: auto;
    }

    .sidebar-links {
      padding: 7px 0 7px 0;
      text-align: center;
    }

    .sidebar-link {
      display: inline;
      margin: 0 7px 0 7px;
      line-height: 26px;
    }

    .content {
      padding-bottom: 40px;
      flex-grow: 1;
      flex-shrink: 0;
    }

    .content hr {
      width: 90%;
    }

    .content article {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 25px;
    }

    .content figure img {
      width: 100%;
    }

    .archive {
      display: block;
    }

    .date-group {
      width: auto;
    }

    .mobile {
      display: inline;
    }

    .desktop {
      display: none;
    }
  }
</style>
