<style>
  body {
    margin: 0;
  }

  a {
    color: #588CCE;
    outline: none;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:focus {
    color: #184988;
  }

  h1, h2, h3, h4 {
    color: #222;
  }

  footer {
    bottom: 0;
    width: 100%;
  }

  code {
    background: #F3F3F3;
    padding: 3px;
    border-radius: 3px;
  }

  .social-icons {
    display: inline-block;
    height: 40px;
  }

  .social-icons svg {
    width: 30px;
    height: 30px;
    margin-right: 4px;
  }

  .social-icons a svg {
    fill: #222;
  }

  .social-icons a:focus svg {
    fill: #486B92
  }

  .highlight code {
    background: inherit;
  }

  .footer-text {
    font-size: 14px;
  }

  .topbar-hr {
    margin-top: 12px;
  }

  .topbar-hr hr {
    border: 0;
    border-top: 1px solid #ddd;
  }

  .sidebar a {
    color: #444;
  }

  .sidebar a:focus {
    color: #486B92;
  }

  .container {
    width: 1200px;
    margin: 0 auto;
  }

  .flex-container {
    width: 100%;
  }

  .sidebar {
    height: 36px;
    margin-top: 12px;
    font-family: 'Open Sans';
  }

  /* Evil CSS hack for accessibility. Querying starting from sidebar prevents
     the sidebar anchor color from overwriting the brand color, while still
     keeping the focus colors. */
  .sidebar .brand {
    color: #444;
    text-decoration: none;
  }

  .brand {
    font-size: 26px;
    line-height: 36px;
    text-decoration: none;
  }

  .sidebar-link {
    text-decoration: none;
    margin: 0 15px 15px 0;
    line-height: 36px;
    color: #184988;
  }

  .sidebar-link-lg {
    font-size: 18px;
  }

  .copyright {
    margin-top: 35px;
    color: #222;
  }

  .content {
    padding-bottom: 24px;
    font-family: "Open Sans", "Arial", "sans-serif";
    font-size: 16px;
  }

  .content hr {
    width: 80%;
  }

  .content article {
    margin-bottom: 25px;
  }

  .content article p {
    color: rgba(0, 0, 0, 0.8);
    font-family: "Open Sans", "Arial", "sans-serif";
    font-size: 18px;
    line-height: 32px;
  }

  .content h1, .content h2, .content h3, .content h4 {
    font-family: 'Open Sans';
    font-weight: bold;
    text-rendering: optimizeLegibility;
  }

  .content h1 {
    text-align: center;
    font-size: 40px;
  }

  .content h2 {
    font-size: 34px;
  }

  .content h3 {
    font-size: 28px;
  }

  .content h4 {
    font-size: 22px;
  }

  .content figure {
    margin: 15px 0 15px 0;
  }

  .content figure img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .not-found h1, .not-found h2, .not-found h3, .not-found h4 {
    color: #2c3e50
  }

  .highlight {
    overflow: auto;
    padding: 1em;
    font-size: 16px;
    border-radius: 5px;
  }

  .highlight pre {
    margin: 0;
  }

  .not-found h1, .not-found h2, .not-found h3, .not-found h4 {
    text-align: center;
  }

  .meta {
    color: #72767D;
    font-family: "Open Sans", "Arial", "sans-serif";
    font-size: 14px;
  }

  .summary {
    margin: 15px 0 15px 0;
  }

  .archive {
    display: flex;
    flex-wrap: wrap;
  }

  .archive a {
    text-decoration: none;
  }

  .archive a:hover {
    text-decoration: underline;
  }

  .date-group {
    min-width: 50%;
  }

  .mobile {
    display: none;
  }

  .link-header a {
    color: #222;
  }

  .desktop-left {
    float: left;
  }

  .desktop-right {
    float: right;
  }

  @media only screen and (max-width: 1250px) {
    .container {
      width: 750px;
    }
  }

  @media only screen and (max-width: 800px) {
    footer {
      display: block;
    }

    .desktop-left {
      float: none;
    }

    .desktop-right {
      float: none;
    }

    .container {
      width: 100%;
    }

    .sidebar {
      display: block;
      height: auto;
      margin-top: 0;
      background: #f5f5f5;
    }

    .sidebar-content {
      max-width: none;
      top: auto;
      bottom: auto;
    }

    .sidebar-header {
      display: block;
      padding: 7px 15px 0 15px;
      text-align: center;
    }

    .sidebar-header h1 {
      display: block;
      margin: 0;
      width: auto;
      font-size: 28px;
    }

    .social-icons {
      display: block;
      margin: 0;
      text-align: center;
    }

    .social-icons img {
      width: 28px;
      height: auto;
    }

    .sidebar-links {
      display: block;
      padding: 0 0 7px 0;
      text-align: center;
    }

    .sidebar-link {
      display: inline;
      margin: 0 7px 0 7px;
      line-height: 26px;
    }

    .topbar-hr {
      display: none;
    }

    .content hr {
      width: 90%;
    }

    .content article {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 25px;
    }

    .content figure img {
      width: 100%;
    }

    .archive {
      display: block;
    }

    .footer-text {
      width: 90%;
      margin: 0 auto;
    }

    .date-group {
      width: auto;
    }

    .mobile {
    }

    .desktop {
      display: none;
    }
  }
</style>
