<style>
  html {
    background-color: #FEFFFF;
  }

  body {
    overflow-y: scroll;
    margin: 0;
    color: #3A4145;
    text-rendering: geometricPrecision;
    letter-spacing: 0.01rem;
  }

  a {
    color: #13C4A5;
    outline: none;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    color: #0f9c84;
  }

  h1, h2, h3, h4 {
    color: #4A4A4A;
    font-weight: 300;
  }

  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    text-decoration: none;
  }

  footer {
    margin: 32px 0;
    font-family: 'Arial', sans-serif;
    color: #4c4c4c;
  }

  code {
    background: #F3F3F3;
    padding: 3px;
    border-radius: 3px;
    line-height: normal;
  }

  hr {
    border: 0;
    border-top: 1px solid #DDD;
  }

  table {
    margin: 0 auto;
    border: 1px solid #e2e2e2;
    border-spacing: 0;
    border-radius: 5px;
  }

  th {
    padding: 12px;
    text-align: left;
    background-color: #EEE;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
  }

  td {
    padding: 12px;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
  }

  td:last-child {
    border-right: none;
  }

  tr:last-child td {
    border-bottom: none;
  }

  li {
    margin: 6px 0;
  }

  .hidden {
    display: none;
  }

  .highlight code {
    background: inherit;
  }

  .aside {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .aside figcaption {
    max-width: 240px;
  }

  .aside figcaption p {
    margin: 0;
    line-height: 1.6em;
    font-size: 1.1em;
  }

  .aside figcaption p::before {
    content: "“";
    font-size: 1.6em;
    font-weight: bold;
  }

  .aside figcaption p::after {
    content: "”";
    font-size: 1.6em;
    font-weight: bold;
  }

  .aside-left {
    display: inline;
    float: left;
    margin-right: 16px;
    margin-left: 0;
  }

  .aside-right {
    display: inline;
    float: right;
    margin-left: 16px;
    margin-right: 0;
  }

  .footer-text {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .container-pad {
    padding-left: 50px;
    padding-right: 50px;
  }

  .flex-container {
    width: 100%;
  }

  .topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 52px;
    padding: 8px 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
    color: #4c4c4c;
    z-index: 100;
  }

  .topbar a {
    text-decoration: none;
    color: #4c4c4c;
  }

  .topbar a:active {
    color: #13C4A5;
  }

  .topbar-content {
    width: 100%;
  }

  .topbar-hr {
    margin-top: 12px;
  }

  /* Evil CSS hack for accessibility. Querying starting from topbar prevents
     the topbar anchor color from overwriting the brand color, while still
     keeping the focus colors. */
  .brand {
    text-decoration: none;
  }

  .brand-container {
    margin: 6px 0;
  }

  .brand {
    font-size: 26px;
    line-height: 36px;
    text-decoration: none;
  }

  .topbar-tagline {
    margin: 12px 0;
  }

  .topbar-links {
    display: inline-block;
    float: right;
  }

  .topbar-link {
    text-decoration: none;
    margin: 0 15px 15px 0;
    line-height: 36px;
    color: #8bd8ca;
  }

  .topbar-link>a:hover {
    text-decoration: none;
  }

  .topbar-link-lg {
    font-size: 1.2em;
  }

  .social-icons {
    display: inline-block;
    height: 36px;
    margin-left: 12px;
  }

  .social-icons svg {
    width: 28px;
    height: 28px;
    margin-right: 4px;
  }

  .social-icons a {
    display: inline-block;
    position: relative;
    top: 5px;
    height: 36px;
  }

  .social-icons a svg {
    fill: #FFF;
  }

  .social-icons a:active svg {
    fill: #8bd8ca;
  }

  .cardup {
    transform: translateY(-125px);
    background-color: white;
  }

  .copyright {
    margin-top: 35px;
  }

  .content {
    margin-top: 52px;
    font-size: 1.2em;
    font-family: 'Arial', serif;
  }

  .content p {
    line-height: 1.9em;
  }

  .content article {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
  }

  .content h1, .content h2, .content h3, .content h4 {
    line-height: normal;
    font-family: 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
  }

  .content h1 {
    font-size: 1.8em;
    margin: 24px 0;
  }

  .content h2 {
    font-size: 1.4em;
  }

  .content h3 {
    font-size: 1.2em;
  }

  .content h4 {
    font-size: 1.2em;
  }

  .content figure {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .content figure img {
    display: block;
    margin: 0 auto;
  }

  .not-found h1, .not-found h2, .not-found h3, .not-found h4 {
    color: #4A4A4A
  }

  .highlight {
    overflow: auto;
    padding: 1em;
    font-size: 14px;
    border-radius: 5px;
  }

  .highlight pre {
    margin: 0;
  }

  .not-found h1, .not-found h2, .not-found h3, .not-found h4 {
    text-align: center;
  }

  .meta {
    color: #72767D;
    font-family: 'Arial', serif;
    font-size: 14px;
    line-height: 22px;
  }

  .summary {
    margin: 15px 0 15px 0;
  }

  .archive {
    display: flex;
    flex-wrap: wrap;
  }

  .archive a {
    text-decoration: none;
  }

  .archive a:hover {
  }

  .date-group {
    min-width: 50%;
  }

  .mobile {
    display: none;
  }

  .link-header a {
    color: #4A4A4A;
  }

  .link-header a:hover,
  .link-header a:active {
    color: #313131;
  }

  .desktop-left {
    float: left;
  }

  .desktop-right {
    float: right;
  }

  .about-portrait {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }

  .hero {
    height: 500px;
    background-size: cover;
    background-position-x: 50%;
  }

  @media (max-width: 800px) {
    .mobile {
      display: initial;
    }

    .desktop {
      display: none;
    }

    footer {
      display: block;
    }

    .desktop-left {
      float: none;
    }

    .desktop-right {
      float: none;
    }

    .container {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    .container-pad {
      padding-left: 15px;
      padding-right: 15px;
    }

    .cardup {
      transform: unset;
    }

    .hero {
      height: 300px;
    }

    .brand-container {
      display: block;
    }

    .brand {
      display: block;
      text-align: center;
      font-size: 1.6em;
    }

    .topbar {
      position: static;
      display: inline-block;
      height: auto;
      padding: 4px 0;
      box-sizing: border-box;
      margin-top: 0;
    }

    .topbar-content {
      max-width: none;
      top: auto;
      bottom: auto;
    }

    .social-icons {
      display: none;
    }

    .social-icons img {
      width: 28px;
      height: auto;
    }

    .topbar-links {
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
      float: none;
    }

    .topbar-link {
      display: inline;
      margin: 0 7px 0 7px;
      line-height: 26px;
    }

    .topbar-link-lg {
      font-size: 1.2em;
    }

    .topbar-hr {
      display: none;
    }

    .content {
      margin-top: 0;
    }

    .content article {
      margin: 0 auto;
      margin-bottom: 25px;
    }

    .content figure img {
      max-width: 100%;
    }

    .archive {
      display: block;
    }

    .footer-text {
      margin: 0 auto;
    }

    .date-group {
      width: auto;
    }

    .about-portrait {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      border-radius: 50%;
    }
  }

  @media (max-width: 350px) {
    .topbar-link-lg {
      font-size: 1em;
    }
  }
</style>
