<style>
  html {
    position: relative;
    min-height: 100%;
    background-color: #FEFFFF;
  }

  body {
    margin: 0;
    color: #3A4145;
    text-rendering: geometricPrecision;
    letter-spacing: 0.01rem;
  }

  a {
    color: #588CCE;
    outline: none;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:focus {
    color: #184988;
  }

  h1, h2, h3, h4 {
    color: #4A4A4A;
    font-weight: lighter;
  }

  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    text-decoration: none;
  }

  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-family: 'Arial', sans-serif;
    color: #909ba7;
    background-color: #242b32;
  }

  code {
    background: #F3F3F3;
    padding: 3px;
    border-radius: 3px;
  }

  hr {
    border: 0;
    border-top: 1px solid #DDD;
  }

  table {
    margin: 0 auto;
    border: 1px solid #e2e2e2;
    border-spacing: 0;
    border-radius: 5px;
  }

  th {
    padding: 12px;
    text-align: left;
    background-color: #EEE;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
  }

  td {
    padding: 12px;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
  }

  td:last-child {
    border-right: none;
  }

  tr:last-child td {
    border-bottom: none;
  }

  li {
    margin: 6px 0;
  }

  .hidden {
    display: none;
  }

  .highlight code {
    background: inherit;
  }

  .footer-text {
    line-height: 50px;
    font-size: 16px;
    font-weight: 500;
  }

  .topbar-hr {
    margin-top: 12px;
  }

  .sidebar a {
    color: #FFF;
  }

  .sidebar a:focus {
    color: #9ED9FF;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .container-pad {
    padding-left: 50px;
    padding-right: 50px;
  }

  .flex-container {
    width: 100%;
  }

  .sidebar {
    background-color: #242b32;
    font-family: 'Arial', sans-serif;
    color: #FFF;
  }

  .sidebar-content {
    display: inline-block;
    width: 100%;
  }

  /* Evil CSS hack for accessibility. Querying starting from sidebar prevents
     the sidebar anchor color from overwriting the brand color, while still
     keeping the focus colors. */
  .sidebar .brand {
    color: #FFF;
    text-decoration: none;
  }

  .sidebar .brand-container {
    margin-bottom: 0;
  }

  .brand {
    font-size: 26px;
    line-height: 36px;
    text-decoration: none;
  }

  .sidebar-tagline {
    margin: 12px 0;
  }

  .sidebar-links {
    background-color: #37424c;
  }

  .sidebar-link {
    text-decoration: none;
    margin: 0 15px 15px 0;
    line-height: 36px;
    color: #184988;
  }

  .sidebar-link>a:hover {
    text-decoration: none;
  }

  .sidebar-link-lg {
    font-size: 18px;
  }

  .social-icons {
    display: inline-block;
    height: 36px;
    margin-left: 12px;
  }

  .social-icons svg {
    width: 28px;
    height: 28px;
    margin-right: 4px;
  }

  .social-icons a {
    display: inline-block;
    position: relative;
    top: 5px;
    height: 36px;
  }

  .social-icons a svg {
    fill: #FFF;
  }

  .social-icons a:focus svg {
    fill: #9ED9FF;
  }

  .text-links {
  }

  .copyright {
    margin-top: 35px;
  }

  .content {
    margin-bottom: 50px;
    font-family: 'Arial', serif;
    font-size: 16px;
  }

  .content article {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
  }

  .content article p {
    color: #3A4145;
    font-family: 'Arial', serif;
    font-size: 1.1em;
    line-height: 1.7em;
  }

  .content h1, .content h2, .content h3, .content h4 {
    font-family: 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
  }

  .content h1 {
    font-size: 2.4em;
  }

  .content h2 {
    font-size: 2em;
  }

  .content h3 {
    font-size: 1.6em;
  }

  .content h4 {
    font-size: 1.4em;
  }

  .content figure {
    margin: 15px 0 15px 0;
  }

  .content figure img {
    display: block;
    margin: 0 auto;
  }

  .not-found h1, .not-found h2, .not-found h3, .not-found h4 {
    color: #4A4A4A
  }

  .highlight {
    overflow: auto;
    padding: 1em;
    font-size: 14px;
    border-radius: 5px;
  }

  .highlight pre {
    margin: 0;
  }

  .not-found h1, .not-found h2, .not-found h3, .not-found h4 {
    text-align: center;
  }

  .meta {
    color: #72767D;
    font-family: 'Arial', serif;
    font-size: 14px;
    line-height: 22px;
  }

  .summary {
    margin: 15px 0 15px 0;
  }

  .archive {
    display: flex;
    flex-wrap: wrap;
  }

  .archive a {
    text-decoration: none;
  }

  .archive a:hover {
  }

  .date-group {
    min-width: 50%;
  }

  .mobile {
    display: none;
  }

  .link-header a {
    color: #4A4A4A;
  }

  .link-header a:hover,
  .link-header a:focus {
    color: #313131;
  }

  .desktop-left {
    float: left;
  }

  .desktop-right {
    float: right;
  }

  @media (max-width: 800px) {
    .mobile {
      display: initial;
    }

    .desktop {
      display: none;
    }

    footer {
      display: block;
    }

    .desktop-left {
      float: none;
    }

    .desktop-right {
      float: none;
    }

    .container {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    .container-pad {
      padding-left: 15px;
      padding-right: 15px;
    }

    .sidebar {
      display: block;
      height: auto;
      margin-top: 0;
    }

    .sidebar-content {
      max-width: none;
      top: auto;
      bottom: auto;
    }

    .sidebar-header {
      display: block;
      text-align: center;
    }

    .sidebar-header h1 {
      display: block;
      margin: 0;
      width: auto;
      font-size: 28px;
    }

    .social-icons {
      display: none;
    }

    .social-icons img {
      width: 28px;
      height: auto;
    }

    .sidebar-links {
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
    }

    .sidebar-link {
      display: inline;
      margin: 0 7px 0 7px;
      line-height: 26px;
    }

    .topbar-hr {
      display: none;
    }

    .content hr {
    }

    .content article {
      margin: 0 auto;
      margin-bottom: 25px;
    }

    .content figure img {
      max-width: 100%;
    }

    .archive {
      display: block;
    }

    .footer-text {
      margin: 0 auto;
    }

    .date-group {
      width: auto;
    }
  }
</style>
