---
import { Image } from "astro:assets";

export type NavigationProps = {
  links: {
    url: string;
    label: string;
  }[];
};

const { links } = Astro.props as NavigationProps;
---

<nav>
  <a class="flex items-center gap-3.5 mb-6" href="/">
    <Image
      class="rounded-full w-8 h-8 xs:w-12 xs:h-12"
      src="/images/me.webp"
      alt=""
      width="48"
      height="48"
    />
    <h1 class="text-3xl xs:text-4xl my-0 text-gray-300">Jamie Kuppens</h1>
  </a>

  <ul>
    {
      links.map((link) => (
        <li class="my-1">
          <a href={link.url}>{link.label}</a>
        </li>
      ))
    }
  </ul>
</nav>
