<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/posts">Posts</a></li>
  <li><a href="/work-experience">Work Experience</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/tags">Tags</a></li>
</ul>
