---
import { Image } from "astro:assets";

export type NavigationProps = {
  links: {
    url: string;
    label: string;
    mobile?: boolean;
  }[];
};

const { links } = Astro.props as NavigationProps;
---

<nav>
  <a
    class="mb-6 flex items-center justify-center gap-3.5 lg:justify-normal"
    href="/"
  >
    <Image
      class="xs:h-12 xs:w-12 h-10 w-10 rounded-full mr-0.5"
      src="/images/me.webp"
      alt=""
      width="48"
      height="48"
      loading="eager"
    />
    <h1 class="xs:text-4xl my-0 text-3xl text-gray-300">Jamie Kuppens</h1>
  </a>

  <ul
    class="flex justify-center gap-6 border-b-2 border-b-gray-700 pb-2 lg:block lg:border-none lg:pb-0"
  >
    {
      links.map((link) => (
        <li>
          <a
            class=`flex items-center justify-center py-2 text-lg text-gray-200 hover:text-gray-50 focus:text-gray-50 lg:justify-normal lg:text-gray-300 lg:before:inline-block lg:hover:before:bg-gray-50 lg:focus:before:bg-gray-50 lg:block ${link.mobile === false ? 'hidden' : ''}`
            href={link.url}
          >
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
