<div
  class="rounded-2xl border-4 border-solid border-yellow-500 bg-yellow-300 p-4 text-yellow-900"
>
  <strong>
    <p class="m-0">
      This article was written several years ago and may contain information
      that is out of date. Although some content may still be relevant, please
      refer to official documentation and other resources for accurate
      information.
    </p>
  </strong>
</div>
