---
const posts: Post[] = Object.values(
  import.meta.glob("../pages/posts/*.mdx", { eager: true }),
);
---

{
  posts
    .sort(
      (a, b) =>
        new Date(b.frontmatter.pubDate).getTime() -
        new Date(a.frontmatter.pubDate).getTime(),
    )
    .map((post) => (
      <li>
        <a href={post.url}>{post.frontmatter.title}</a>
      </li>
    ))
}
