---
import PostCard from "./post-card.astro";
import { getPosts } from "../lib/posts";
import type { PostLayoutProps } from "../types";

export type PostListProps = {
  limit?: number;
  posts?: PostLayoutProps[];
};

let { limit, posts } = Astro.props as PostListProps;

if (!posts) {
  posts = Object.values(getPosts());
}
---

<ul class="mx-0 mt-4 flex flex-wrap justify-between gap-8">
  {
    posts
      .sort(
        (a, b) =>
          new Date(b.frontmatter.pubDate).getTime() -
          new Date(a.frontmatter.pubDate).getTime(),
      )
      .slice(0, limit)
      .map((post) => (
        <li class="contents">
          <PostCard
            title={post.frontmatter.title}
            url={post.frontmatter.affiliateLink ?? post.url}
            description={post.frontmatter.description}
            date={post.frontmatter.pubDate}
            tags={post.frontmatter.tags}
            external={!!post.frontmatter.affiliateLink}
          />
        </li>
      ))
  }
</ul>
