---
export type PostCardProps = {
  title: string;
  url: string;
  description: string;
};

// TODO: ADD DATE AND TAGS HERE!!! AND ALSO IN THE POST ITSELF!!!

const { title, url, description } = Astro.props as PostCardProps;
---

<article class="rounded-2xl bg-gray-950 xl:max-w-[22rem]">
  <a class="text-gray-300 hover:text-blue-300 focus:text-blue-300" href={url}>
    <div class="p-4">
      <strong class="text-xl text-blue-200">{title}</strong>
      <p class="max-h-48 truncate whitespace-normal text-base">{description}</p>
      <p class="mb-0 text-blue-200">Read More →</p>
    </div>
  </a>
</article>
