---
import type { PostLayoutProps } from "../layouts/post-layout.astro";

export type TagListProps = {
  tags?: string[];
};

const { tags } = Astro.props as TagListProps;

function getUniqueTags(tags?: string[]) {
  if (!tags) {
    const posts: PostLayoutProps[] = Object.values(
      import.meta.glob("../pages/posts/*.mdx", { eager: true }),
    );
    tags = posts.map((post) => post.frontmatter.tags).flat();
  }

  return [...new Set(tags)].sort((a, b) => a.localeCompare(b));
}
---

<ul class="mx-0 flex list-none flex-wrap gap-2">
  {
    getUniqueTags(tags).map((tag) => (
      <li class="">
        <a
          class="inline-block rounded-xl bg-green-950 px-2 py-1 text-green-500 hover:text-green-300 focus:text-green-300"
          href={`${new URL(`/tags/${tag}`, Astro.site)}`}
        >
          {tag.replaceAll("-", " ")}
        </a>
      </li>
    ))
  }
</ul>
