---
import { getSortedTags } from "../lib/tags";

export type TagListProps = {
  tags?: string[];
  nonInteractive?: boolean;
};

const { tags, nonInteractive } = Astro.props as TagListProps;
---

<ul class="mx-0 flex list-none flex-wrap gap-2">
  {
    getSortedTags(tags).map((tag) => (
      <li class="">
        {nonInteractive ? (
          <div class="inline-block rounded-xl bg-green-950 px-2 py-1 text-green-500">
            {tag.replaceAll("-", " ")}
          </div>
        ) : (
          <a
            class="inline-block rounded-xl bg-green-950 px-2 py-1 text-green-500 hover:text-green-300 focus:text-green-300"
            href={`${new URL(`/tags/${tag}`, Astro.site)}`}
          >
            {tag.replaceAll("-", " ")}
          </a>
        )}
      </li>
    ))
  }
</ul>
