---
import BaseLayout from "../layouts/base-layout.astro";

const { frontmatter } = Astro.props as PostLayoutProps;
---

<BaseLayout redirectUrl={frontmatter.affiliateLink ?? null} {...Astro.props}>
  <p>{frontmatter.author}</p>
  <p>{frontmatter.pubDate}</p>
  <p>{frontmatter.tags.join(", ")}</p>

  <slot />
</BaseLayout>
